$primary-color: gray;
$text-color: black;
$accent-color: #ff4081;
$font-weights: (
    "thin": 100,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "black": 900
);
$mobile:800px ;