.btn{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}
.btn:hover{
    background: #008168;
}

.btn:active{
    background: #006e58;
}

.btn__text, .btn__icon{
    display: inline-flex;
    align-items: center;
    padding: 0px 24px;
    height: 100%;
    color: white;
}
.btn__icon{
    font-size: 1.5em;
    background: rgba(0,0,0,0.08);
}